name: CI

on:
  push:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Install NPM packages
        run: yarn

      - name: Test
        run: yarn test

  deploy:
    name: Deploy
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [test]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v6

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Install NPM packages
        run: yarn

      - name: Compile
        run: yarn compile

      - name: Install production NPM packages
        run: yarn --production=true

      - name: Deploy
        uses: google-github-actions/deploy-cloud-functions@v4
        env:
          GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
        with:
          name: ${{ secrets.FUNCTION_NAME }}
          runtime: nodejs22
          entry_point: main
          region: ${{ secrets.REGION }}
          service_timeout: 300
          min_instance_count: 0
          max_instance_count: 1
          memory: 128M
